@import url('https://fonts.googleapis.com/css2?family=Borel&family=DM+Serif+Text:ital@0;1&family=Edu+AU+VIC+WA+NT+Pre:wght@400..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Mystery+Quest&family=Raleway:ital,wght@0,100..900;1,100..900&family=Send+Flowers&display=swap');

body {
  display: flex;
  text-align: center;
  justify-content: center;
  min-height: 100vh;
  align-items: center;
  overflow: hidden;
  margin: 0;
  box-sizing: border-box;
  background-color: blanchedalmond;

}

.app {
  /* Adapter la taille de la div à la blague: */
  display: inline-block; /* La div s'ajuste à son contenu */
  padding: 50px; /* Pour éviter que le texte soit collé aux bords */
  width: auto;
  max-width: 70%;
  /* word-wrap: break-word; /* Coupe les mots si nécessaire */
  /* white-space: normal; Permet les retours à la ligne */ 
  
  border-radius: 120px;
  background-color: rgb(220, 181, 151); 
  color: brown;
  box-shadow: 0px 0px 6px 4px rgb(184, 142, 142);
  cursor: pointer;
  transition: opacity 0.2s ease;
}

.app.fade {
  opacity: 0;
}

h2,
p {
  font-family: "Send Flowers", cursive;
  font-style: normal;
  /* margin: 10px; */ */
}

h2 {
  font-weight: 600;
  font-size: 3rem;
}

p {
  font-weight: 500;
  font-size: 2.5rem;

}